<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="com.wydpp.test.UserMapper">
    <resultMap id="BaseResultMap" type="com.wydpp.test.User">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="age" jdbcType="INTEGER" property="age" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    </resultMap>

    <select id="selectAll" parameterType="com.wydpp.test.User" resultMap="BaseResultMap">
        select * from user where 1 = 1
        <if test="name != null">
            and name = #{name}
        </if>
        <if test="age != null">
            and age = #{age}
        </if>
    </select>

</mapper>